[Unit]
Description=Librespot
Requires=network-online.target
After=pulseaudio.service

[Service]
User=nobody
Group=pulse-access
Restart=always
RestartSec=10
ExecStart=/usr/local/bin/librespot -n "raspberrypi" -b 320 --disable-audio-cache --enable-volume-normalisation --initial-volume 100 --device-type speaker

[Install]
WantedBy=multi-user.target

