[Unit]
Description=Pulseaudio sound server
After=avahi-daemon.service network.target

[Service]
User=pulse
ExecStart=/usr/bin/pulseaudio --disallow-exit --daemonize
ExecReload=/bin/pkill pulseaudio
RestartSec=5
Restart=always

[Install]
WantedBy=multi-user.target
